<!DOCTYPE html>
<html>
<head>
	<title>Feedback Form</title>
</head>
<body>
<form method="post">
	<label>
		<div>Q1. What is your favorite food?</div>
		<br>
		<input type="radio" name="q1" value="Idli">
		<label>Idli</label>
		<br>
		<input type="radio" name="q1" value="Sambhar">
		<label>Sambhar</label>
		<br>
		<input type="radio" name="q1" value="Raita">
		<label>Raita</label>
		<br>
	</label>
	<label>
		<div>Q2. What is your favorite food?</div>
		<br>
		<input type="radio" name="r1" value="Idli">
		<label>Idli</label>
		<br>
		<input type="radio" name="r1" value="Sambhar">
		<label>Sambhar</label>
		<br>
		<input type="radio" name="r1" value="Raita">
		<label>Raita</label>
		<br>
	</label>
	<label>
		<div>Q3. What is your favorite food?</div>
		<br>
		<input type="radio" name="s1" value="Idli">
		<label>Idli</label>
		<br>
		<input type="radio" name="s1" value="Sambhar">
		<label>Sambhar</label>
		<br>
		<input type="radio" name="s1" value="Raita">
		<label>Raita</label>
		<br>
	</label>
	<input type="submit">
</form>
</body>
</html>