<!DOCTYPE html>
<html>
<head>
	<title>Feedback Form</title>
</head>
<body>
<form method="post">
	<label>
		<div>Q1. Are you satisfied with the facilities provided in HITES canteen?</div>
		<br> 
		<input type="radio" name="q1" value="Idli">
		<label>Yes</label>
		<br>
		<input type="radio" name="q1" value="Sambhar">
		<label>No</label>
		<br>
		<input type="radio" name="q1" value="Raita">
		<label>Cant Say</label>
		<br>
	</label>
	<label>
		<div>Q2. Is The Service Provided By HITES IT Department is Quick?</div>
		<br>
		<input type="radio" name="r1" value="Idli">
		<label>Yes</label>
		<br>
		<input type="radio" name="r1" value="Sambhar">
		<label>No</label>
		<br>
		<input type="radio" name="r1" value="Raita">
		<label>Cant Say</label>
		<br>
	</label>
	<label>
		<div>Q3. Are You Satisfied with the w\Work Culture of HITES?</div>
		<br>
		<input type="radio" name="s1" value="Idli">
		<label>Yes</label>
		<br>
		<input type="radio" name="s1" value="Sambhar">
		<label>No</label>
		<br>
		<input type="radio" name="s1" value="Raita">
		<label>Cant Say</label>
		<br>
	</label>
	<input type="submit">
</form>
</body>
</html>