<h2>Thanks for your feedback.</h2>
<p>
<b>Q1.</b><br>
a) Yes {{str((total_yes_option1/total_feedbacks)*100)+"%"}}<br>
b) No {{str((total_no_option1/total_feedbacks)*100)+"%"}}<br>
c) Cannot Say {{str((total_cant_option1/total_feedbacks)*100)+"%"}}
</p>
<p>
<b>Q2.</b><br>
a) Yes {{str((total_yes_option2/total_feedbacks)*100)+"%"}}<br>
b) No {{str((total_no_option2/total_feedbacks)*100)+"%"}}<br>
c) Cannot Say {{str((total_cant_option2/total_feedbacks)*100)+"%"}}
</p>
<p>
<b>Q3.</b><br>
a) Yes {{str((total_yes_option3/total_feedbacks)*100)+"%"}}<br>
b) No {{str((total_no_option3/total_feedbacks)*100)+"%"}}<br>
c) Cannot Say {{str((total_cant_option3/total_feedbacks)*100)+"%"}}
</p>